<a href="https://colab.research.google.com/github/Preetirai-tech/Play-Store-App-Review-Analysis/blob/main/Play_Store_App_Review_Analysis_Capstone_Project.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import datetime

# We imported the necessary libraries that can be needed for our EDA.

### Lets read the file as play_df and reviews_df for play_store data and user_reviews data

In [3]:
play_df = pd.read_csv("/content/drive/MyDrive/AlmaBetter /Capstone Projects/EDA/Play Store Data.csv")
reviews_df = pd.read_csv("/content/drive/MyDrive/AlmaBetter /Capstone Projects/EDA/User Reviews.csv")

In [4]:
play_df.head()

                                                 App  ...   Android Ver
0     Photo Editor & Candy Camera & Grid & ScrapBook  ...  4.0.3 and up
1                                Coloring book moana  ...  4.0.3 and up
2  U Launcher Lite – FREE Live Cool Themes, Hide ...  ...  4.0.3 and up
3                              Sketch - Draw & Paint  ...    4.2 and up
4              Pixel Draw - Number Art Coloring Book  ...    4.4 and up

[5 rows x 13 columns]

In [5]:
play_df.shape

(10841, 13)

In [6]:
reviews_df.head()

                     App  ... Sentiment_Subjectivity
0  10 Best Foods for You  ...               0.533333
1  10 Best Foods for You  ...               0.288462
2  10 Best Foods for You  ...                    NaN
3  10 Best Foods for You  ...               0.875000
4  10 Best Foods for You  ...               0.300000

[5 rows x 5 columns]

In [7]:
#lets drop nan values from reviews dataframe which have no reviews
reviews_df.drop(reviews_df[reviews_df['Translated_Review'].isna()].index,inplace=True)
reviews_df

                                  App  ... Sentiment_Subjectivity
0               10 Best Foods for You  ...               0.533333
1               10 Best Foods for You  ...               0.288462
3               10 Best Foods for You  ...               0.875000
4               10 Best Foods for You  ...               0.300000
5               10 Best Foods for You  ...               0.300000
...                               ...  ...                    ...
64222  Housing-Real Estate & Property  ...               0.486667
64223  Housing-Real Estate & Property  ...               0.447222
64226  Housing-Real Estate & Property  ...               0.250000
64227  Housing-Real Estate & Property  ...               1.000000
64230  Housing-Real Estate & Property  ...               0.400000

[37427 rows x 5 columns]

In [8]:
#Lets merge two dataframes
combined_df = pd.merge(play_df,reviews_df,how='inner',left_on='App',right_on='App')
combined_df.head()

                   App  ... Sentiment_Subjectivity
0  Coloring book moana  ...               1.000000
1  Coloring book moana  ...               0.833333
2  Coloring book moana  ...               0.000000
3  Coloring book moana  ...               0.600000
4  Coloring book moana  ...               0.900000

[5 rows x 17 columns]

In [9]:
combined_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 72605 entries, 0 to 72604
Data columns (total 17 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   App                     72605 non-null  object
 1   Category                72605 non-null  object
 2   Rating                  72566 non-null  float64
 3   Reviews                 72605 non-null  object
 4   Size                    72605 non-null  object
 5   Installs                72605 non-null  object
 6   Type                    72605 non-null  object
 7   Price                   72605 non-null  object
 8   Content Rating          72605 non-null  object
 9   Genres                  72605 non-null  object
 10  Last Updated            72605 non-null  object
 11  Current Ver             72605 non-null  object
 12  Android Ver             72605 non-null  object
 13  Translated_Review       72605 non-null  object
 14  Sentiment               72605 non-null  object
 15  Sentiment_Polarity      72605 non-null  float64
 16  Sentiment_Subjectivity  72605 non-null  float64
dtypes: float64(3), object(14)
memory usage: 10.0+ MB

In [10]:
combined_df.columns

Index(['App', 'Category', 'Rating', 'Reviews', 'Size', 'Installs', 'Type',
       'Price', 'Content Rating', 'Genres', 'Last Updated', 'Current Ver',
       'Android Ver', 'Translated_Review', 'Sentiment', 'Sentiment_Polarity',
       'Sentiment_Subjectivity'],
      dtype='object')

# Data Preprocessing

In [11]:
# So in the size column we can see we have values with M and K so lets replace them with their equivalent value with respect to k and convert into float
combined_df['Size']=combined_df['Size'].str.replace('M','000')
combined_df['Size']=combined_df['Size'].str.replace('k','')

#apps['size']=apps['size'].str.replace('.','')
combined_df['Size']=combined_df['Size'].replace("Varies with device",np.nan)
combined_df['Size']=combined_df['Size'].astype('float')
combined_df.head(5)

                   App  ... Sentiment_Subjectivity
0  Coloring book moana  ...               1.000000
1  Coloring book moana  ...               0.833333
2  Coloring book moana  ...               0.000000
3  Coloring book moana  ...               0.600000
4  Coloring book moana  ...               0.900000

[5 rows x 17 columns]